{% extends "orders/base.html" %}
{% block content %}
<h2>Каталог цветов</h2>
<div class="row">
    {% for flower in flowers %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ flower.name }}</h5>
                <p class="card-text">{{ flower.price }} руб.</p>
                <a href="{% url 'order' flower.id %}" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
